{% extends 'template.twig' %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    <div align="center">
        <div class="container">
            <div class="card card-container" style="max-width: 350px; padding: 40px 40px;">
                <h2>Connexion</h2>
                <br /><br />
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form._username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form._password) }}
                    </div>

                    <br /><br />
                    {{ form_row(form.ok) }}
                {{ form_end(form) }}
                <font color="red"></font>
            </div>
        </div>
    </div>

    <div id="inscription">
        <a href="inscription.php"><br />Toujours pas inscrit ? Rejoins le club Ô'Tako 🐙</a>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}